div.items {
    padding: 15vh 25vw 0 25vw;
}

.items-table {
    margin-top: 20px;
}

.table-button {
    margin-right: 10%;
}

.error-field {
    box-shadow: 0 0 4px 0 red ;
}

.error-text {
    color: red;
}
